<div class="paper-filters">
  <div class="paper-filters__categories">
    <div class="paper-filters__active-category">
      <%= params[:category].present? ? params[:category] : 'All categories' %> <%= fa_icon('caret-down') %>
    </div>
    <ul class="paper-filters__categories-dropdown">
      <% ArvixPaper::CATEGORIES.each do |cat| %>
        <li class="paper-filters__category-option"><%= link_to cat, arvix_papers_path(period: params[:period], category: cat) %></li>
      <% end %>
    </ul>
  </div>

  <div class="paper-filters__item">
    <%= link_to "Today's Best", arvix_papers_path(period: 'today', category: params[:category]), class: "paper-filters__link #{'paper-filters__link--active' if params[:period] == 'today'}" %>
  </div>

  <div class="paper-filters__item">
    <%= link_to "Weekly Best", arvix_papers_path(period: 'this_week', category: params[:category]), class: "paper-filters__link #{'paper-filters__link--active' if params[:period] == 'this_week'}" %>
  </div>

  <div class="paper-filters__item">
    <%= link_to "Monthly Best", arvix_papers_path(period: 'this_month', category: params[:category]), class: "paper-filters__link #{'paper-filters__link--active' if params[:period] == 'this_month'}" %>
  </div>

  <div class="paper-filters__item">
    <%= link_to "Latest", arvix_papers_path(latest: 1, category: params[:category]), class: "paper-filters__link #{'paper-filters__link--active' if params[:latest].present?}" %>
  </div>
</div>
