<tr class="paper-preview">
  <td class="paper-preview__cell"><%= paper_rank %></td>
  <td class="paper-preview__cell paper-preview__votes">
    <div><%= link_to fa_icon("chevron-up"), upvote_arvix_paper_path(paper), method: :post %></div>
    <div><%= paper.get_likes.size %></div>
    <div><%= link_to fa_icon("chevron-down"), downvote_arvix_paper_path(paper), method: :post %></div>
  </td>
  <td class="paper-preview__cell paper-preview__title"><%= link_to paper.title, paper %></td>
  <td class="paper-preview__cell">Some Author</td>
  <td class="paper-preview__cell"><%= link_to paper.category, arvix_papers_path(category: paper.category) %></td>
  <td class="paper-preview__cell"><%= format_date(paper.published_date) %></td>
  <td class="paper-preview__cell"><%= link_to 'pdf', paper.pdf_link %></td>
  <td class="paper-preview__cell"><%= link_to 'html', paper.paper_link %></td>
</tr>
