<tr class="paper-preview">
  <td class="paper-preview__cell"><%= paper_rank %></td>
  <td class="paper-preview__cell">
    <div class="paper-preview__votes">
      <div><%= link_to fa_icon("chevron-up"), upvote_arvix_paper_path(paper), method: :post %></div>
      <div><%= paper.votes_for.size %></div>
      <div><%= link_to fa_icon("chevron-down"), downvote_arvix_paper_path(paper), method: :post %></div>
    </div>
  </td>
  <td class="paper-preview__cell paper-preview__text-left">
    <div class="paper-preview__title">
      <%= link_to paper.title, paper %>
    </div>
    <div class="paper-preview__summary">
      <%= paper.summary %>
    </div>
  </td>
  <td class="paper-preview__cell"><%= paper.author_names.join(', ') %></td>
  <td class="paper-preview__cell"><%= link_to paper.category, arvix_papers_path(category: paper.category, period: params[:period]) %></td>
  <td class="paper-preview__cell"><%= format_date(paper.published_date) %></td>
  <td class="paper-preview__cell"><%= link_to fa_icon('file-pdf-o'), paper.pdf_link %></td>
  <td class="paper-preview__cell"><%= link_to fa_icon('file-word-o'), paper.paper_link %></td>
</tr>
