<!DOCTYPE html>
<html>
  <head>
    <title>Todaydeeplearning</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render 'shared/nav' %>

  <body>
    <div class="content">
      <%= yield %>
    </div>
  </body>

  <% if Rails.env.production? %>
    <%= render 'shared/google_analytics' %>
  <% end %>
</html>
