<!DOCTYPE html>
<html>
  <head>
    <title>Todaydeeplearning</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% unless current_page?(controller: 'devise/registrations', action: 'new') || current_page?(controller: 'devise/sessions', action: 'new') %>
    <%= render 'shared/nav' %>
  <% end %>

  <body>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
